.pokemonInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;

    img {
        width: 18rem;
        height: 18rem;
    }
}

.pokemon {
    h1 {
        margin: 0;
        padding-top: 0.67em;
        padding-bottom: 0.67em;
    }
}

.sasd {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

.base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: end;
}

.baseGender {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
    gap: 5%
}

.baseTypes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    gap: 10px
}

.baseType {
    border-style: solid;
    border-color: #000000;
    border-radius: 7px;
    border-width: 0px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.valueCell {
    display: flex;
    align-items: center;
}

.statsTable {
    border-collapse: collapse;
    width: 100%;
}

.statsTable th,
.statsTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.statsTable th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
    .pokemonInfo {
        flex-direction: column;
    }

    .base {
        flex-direction: column;
        text-align: center;
    }

    .baseGender {
        justify-content: "";
        width: 100%;
    }
    
    .baseTypes {
        align-self: center;
        margin-top: 1em;
        margin-bottom: 1em;
        flex-direction: column;
    }
}