.pokemonHome {
    text-align: center;
    padding: 5%;
    border-style: solid;
    border-radius: 8px;
    background-color: #ffffff;
    height: 90%; /* pc */
    /* height: 95%; */ /* phone */
}

.pokemonHome img {
    background-color: white;
    border-radius: 10%;
}