.evolutionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.evolutionDetails {
    p {
        margin: 0%;
    }
}

.nextEvolution {
    display: flex;
    flex-direction: column;
    text-align: end;

    h3 {
        cursor: pointer;
    }
}

.evolution {
    display: flex;
    flex-direction: row;
}

.waysToEvolve {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.allEvolutions {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-around;
}

.evolutionForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.2rem;
    margin-left: 18%;
    margin-right: 18%;
}

.previousEvolution {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .evolutionForm {
        margin-left: 8%;
        margin-right: 8%;
    }
}