.pokemonHome {
    /* width: 8%; */
    border-style: solid;
    border-width: 1%;
    border-color: red;
    border-radius: 2%;
}

.pokemonHome img{
    background-color: white;
    border-radius: 10%;
}